.list{
    
    border: 1px;
    border-color: red;
    border-style: solid;
}
p.list{
    text-align: center;
}

.alert {
    padding: 20px;
    margin: 5px;
    color: #970020;
    background-color: #ffd5de;
}

a {
    padding: 0px 10px;
    word-wrap: normal;
    display: inline-block;
  }