{% extends 'base.html' %}
{% block content %}
    <div class="header">
        <h1>{% block title %} Buying a stock for {{portfolio.name}} {% endblock %}</h1>
    </div>

    {% for message in get_flashed_messages() %}
            <div class="alert">{{ message }}</div>
        {% endfor %}

    <form method = "post">
        <label for="stock">Name of Stock</label>
        <br>
        <input type="text" name="stock"
        placeholder="Name of Stock"
        value="{{request.form['stock']}}"></input>

        <br><br>

        <label for="qty">Qty you wish to buy</label>
        <br>
        $<input type="text" name="qty"
        placeholder="0"
        value="{{request.form['qty']}}"></input>

        <br>
        <button type="submit">Create!</button>
    </form>
{% endblock %}