{% extends 'base.html' %}
{% block content %}

    <div class="header">
        <h1>{% block title %} {{portfolio.name}} {% endblock %}</h1>
        <h2> ${{portfolio.money}}</p>
    </div>
    
    {%for stock in portfolio.stocks%}
    <button type="button" class="collapsible">{{stock.fullName}}: ${{getStockTotal(stock=stock)}}</button>
    <div class = "content">
        
        <h1>{{stock.fullName}}: ${{getStockTotal(stock=stock)}}</h1>
        <h2> Number of shares owned: {{getStockQty(stock=stock)}}</h2>
        {% for purchase in reversed(stock.values.keys()) %}
        <div class="list">
            <h2>{{purchase}}</h2>
            <p> quantity bought:</p>
            <p> {{stock.values[purchase]['qty']}}</p>
            {% if stock.values[purchase]['price'] >0 %}
            <p> value bought at:</p>
            {% else %}
            <p> value sold at:</p>
            {% endif %}
            <p> ${{stock.values[purchase]['price']}}</p>
        </div>
        {% endfor %}
        <a href="{{ url_for('addStockQty', portfolio=portfolio.name, code=stock.code) }}">Buy Stock</a>
        <a href="{{ url_for('sellStock', portfolio=portfolio.name, code=stock.code) }}">Sell Stock</a>
    </div>
    {% endfor %}

    <a href="{{ url_for('addStockCode', portfolio=portfolio.name) }}"> ADD STOCK</a>
    
<script>

    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
        content.style.display = "none";
        } else {
        content.style.display = "block";
        }
    });
    }
</script>


{% endblock %}