{% extends 'base.html' %}
{% block content %}
    <div class="header">
        <h1>{% block title %} Buying a stock for {{portfolio.name}} {% endblock %}</h1>
    </div>

    {% for message in get_flashed_messages() %}
            <div class="alert">{{ message }}</div>
        {% endfor %}
    <h1>{{name}}</h1>
    <h2>${{price}} per share</h2>
    <form method = "post">

        <label for="qty">Qty you wish to buy/sell</label>
        <br>
        <input type="text" name="qty"
        placeholder="0"
        value="{{request.form['qty']}}"></input>

        <br>
        <button type="submit">Buy!</button>
    </form>
{% endblock %}